# Workflow name
name: Build app
on:
  # Trigger on every pull request and on push
  # to the `main` branch.
  pull_request:
  push:
    branches:
      - main

permissions:
  pull-requests: write

# Where will they run
jobs:
  build:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
      - name: Extract GOOGLE_SERVICES_JSON
        shell: bash
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          echo "$GOOGLE_SERVICES_JSON" | base64 --decode > app/google-services.json
      - name: Setup JDK - Temurin 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: always
      - name: Build APK
        run: >
          ./gradlew
          --stacktrace
          :app:assembleDebug
      - name: Check code format and dependencies
        run: >
          ./gradlew
          spotlessCheck
          dependencyUpdates
      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: UnitConverter.apk
          path: app/build/outputs/apk/debug/app-debug.apk
      - name: Upload Dependencies report
        uses: actions/upload-artifact@v6
        with:
          name: dependencyUpdates.txt
          path: build/dependencyUpdates/report.txt
      - name: Upload reports on failure
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
